[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = ">=3"
django-cors-headers = "*"
gdal = "*"

[dev-packages]

[requires]
python_version = "3.10"
