@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.landing-container {
  padding: 48px;
  width: 100%;
  position: relative;
}

.video-container {
  padding-top: 120px;
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.video {
  max-height: 800px;
  max-width: 800px;
}

.landing-frame1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.landing-title-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.landing-title-text {
  color: var(--grey, #d8d8d8);
  /* Title */
  font-family: Inter;
  font-size: 144px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 129.6px */
  letter-spacing: -5.76px;
}

.landing-title-gradient-text {
  background: var(
    --gradient-1,
    linear-gradient(128deg, #2a3bfb 0%, #8b36e8 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Title */
  font-family: Inter;
  font-size: 144px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: -5.76px;
}

.landing-subtitle-text {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.landing-subtitle-text-bold {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}

.landing-frame2 {
  margin-top: 96px;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.landing-frame2-description-container {
  width: 558px;
  min-width: 558px;
  margin-right: 96px;
}

.landing-frame2-description-text {
  color: var(--grey, #d8d8d8);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.28px;
}

.landing-frame2-highlight-text {
  background: var(
    --gradient-1,
    linear-gradient(128deg, #2a3bfb 0%, #8b36e8 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.landing-frame2-source-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 24px;
}

.landing-frame2-source-text {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%; /* 0px */
}

.landing-frame3 {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-frame3-text {
  color: var(--grey, #d8d8d8);
  text-align: center;
  /* Small Title */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 28.8px */
  letter-spacing: -1.28px;
}

.landing-frame3-image {
  width: 100%;
}

.landing-frame4 {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 48px;
}

.landing-frame4-card {
  width: 590px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.landing-frame4-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 96px;
}

.landing-frame4-diagram-container {
  width: 576px;
}

.landing-frame4-heading1-text {
  color: var(--grey, #d8d8d8);
  /* Sub Title */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 43.2px */
  letter-spacing: -1.92px;
}

.landing-frame4-heading1-gradient-text {
  background: var(
    --gradient-1,
    linear-gradient(128deg, #2a3bfb 0%, #8b36e8 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Sub Title */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: -1.92px;
}

.landing-frame4-p1-text {
  color: var(--grey, #d8d8d8);
  text-align: center;
  /* Dark */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: -1.28px;
}

.landing-frame4-p2-text {
  color: var(--grey, #d8d8d8);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: -1.28px;
}

.landing-frame5 {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.landing-frame5-title {
  display: flex;
}

.landing-frame5-title-text {
  color: var(--grey, #d8d8d8);
  /* Sub Title */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: -1.92px;
}

.landing-frame5-title-gradient-text {
  background: var(
    --gradient-2,
    linear-gradient(135deg, #adf400 0%, #00f4ff 44.79%, #2435fa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Sub Title */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: -1.92px;
}

.landing-frame5-content {
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.landing-frame5-left-content {
  display: flex;
  width: 672px;
  padding: 0px 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  text-align: start;
}

.landing-frame5-left-content-highlight-text {
  color: var(--grey, #d8d8d8);

  /* Highlight */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 57.6px */
  letter-spacing: -1.92px;
}

.landing-frame5-left-content-normal-text {
  color: var(--mid-grey, #979797);
  /* Dark */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: -1.28px;
}

.landing-frame5-left-content-gradient-text {
  background: var(
    --gradient-1,
    linear-gradient(128deg, #2a3bfb 0%, #8b36e8 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-frame5-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 672px;
  gap: 24px;
}

.landing-frame5-right-content-card-container {
  width: 624px;
  height: 120px;
  background: var(--dark-grey, #373737);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.landing-frame5-right-content-card-container.first:hover {
  border-right: 10px solid var(--blue, #2a3bfb);
  padding-right: 30px;
}

.landing-frame5-right-content-card-container.second:hover {
  border-right: 10px solid var(--blue, #00f4fe);
  padding-right: 30px;
}

.landing-frame5-right-content-card-container.third:hover {
  border-right: 10px solid var(--blue, #8b36e8);
  padding-right: 30px;
}

.landing-frame5-right-content-card-heading-text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 25.2px */
  letter-spacing: -1.12px;
}

.landing-frame5-right-content-card-text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 21.6px */
  letter-spacing: -0.96px;
}

.landing-frame6 {
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-frame6-left-content {
  display: flex;
  width: 672px;
  padding: 0px 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  text-align: start;
}

.landing-frame6-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 672px;
  gap: 24px;
}

.landing-frame6-right-content-card-container {
  width: 624px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.landing-frame8 {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.landing-frame8-heading-text {
  background: var(
    --gradient-2,
    linear-gradient(135deg, #adf400 0%, #00f4ff 44.79%, #2435fa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  /* Sub Title */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 43.2px */
  letter-spacing: -1.92px;
}

.landing-frame8-subtitle-text {
  color: var(--grey, #d8d8d8);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 28.8px */
  letter-spacing: -1.28px;
}

.landing-frame8-image {
  margin-top: 24px;
  width: 80%;
}

.landing-frame8-cards-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
}

.landing-frame9 {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

.landing-frame9-title-text {
  color: var(--grey, #d8d8d8);

  /* Small Title */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 28.8px */
  letter-spacing: -1.28px;
}

.landing-frame9-button-container {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.landing-frame9-content-container {
  background: var(--dark-grey, #0d0d0d);
  display: flex;
  padding: 48px;
  flex-direction: row;
  height: 300px;
}

.landing-frame9-content-text-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 576px;
}

.landing-frame9-description-text {
  color: var(--grey, #d8d8d8);
  /* Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.landing-frame9-content-image-container {
  width: 613px;
  height: 328px;
  position: absolute;
  right: 120px;
  bottom: -23.805px;
}

.landing-frame9-image {
  width: 100%;
}
