.infobox {
  width: 15vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  border-radius: 25px;
}

.timeline {
  width: 80%;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 10%;
}

.view-card-wrapper {
  height: 80%;
  position: absolute;
  overflow: hidden;
}

.view-scrollable-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.list-card-wrapper {
  width: 50vw;
  height: 80vh;
  overflow: hidden;
}

.list-scrollable-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.create-card-wrapper {
  height: 80vh;
  position: absolute;
  overflow: hidden;
}

.create-scrollable-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.text-icon-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.stack {
  margin-top: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
