.infobox {
  width: 15vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  border-radius: 25px;
}

.card-wrapper {
  height: 80%;
  position: absolute;
  overflow: hidden;
}

.scrollable-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
