@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

.navigation-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.navigation-navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 48px;
  padding-top: 24px;
}

.navigation-logo {
  display: flex;
  width: 281px;
  padding-right: 0px;
  align-items: center;
}

.navigation-menu {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 40px;
  min-width: 650px;
}

.navigation-menu-text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  line-height: 120%;
}

.navigation-button-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 250px;
}
